@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: rgb(245, 245, 245);
}
a:hover {
  cursor: pointer;
}
:root {
  --blue: #4156a7;
  --grey: #def0fc;
  --orange: #f7ca00;
}

.bluebg {
  background-color: var(--blue);
  color: white;
}
.greybg {
  background-color: var(--grey);
  color: black;
}
.orangebg {
  background-color: var(--orange);
  color: black;
}
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
  box-shadow: 1px 1px 3px rgb(235, 235, 235);
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* sidebar toggle btn */
#adminsidebar {
  height: 100vh;
  width: 15rem;
}
#adminsidebar a {
  color: white;
  margin-bottom: 1rem;
  margin-left: 0rem;
  font-size: 14px;
}
#adminsidebar .nav-link {
  padding-left: 0rem;
  border-bottom: 0.5px solid rgb(77, 77, 77);
  padding-bottom: 1.5rem;
  border-radius: 0px;
}
#adminsidebar a:hover {
  color: rgb(187, 186, 186);
}
#sidebarToggle {
  background-color: var(--blue);
  border: none;
  color: white;
}
#sidebarToggle:hover {
  color: rgb(240, 240, 240);
}
#navbartogglerbtn {
  background-color: var(--blue);
  border: none;
  color: white;
}
#navbartogglerbtn:hover {
  color: rgb(240, 240, 240);
}

/* logo */
#companylogo img {
  height: 1.4rem;
}

/* heading */
.panelheading p {
  font-size: 1.5rem;
  font-weight: 550;
}

/* dashboard */
#dashboardboxes {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  justify-content: space-between;
}
.dbboxouter {
  display: flex;
  flex-direction: column;
  width: 23%;
  background-color: white;
  box-shadow: 2px 2px 10px lightgrey;
  border-radius: 5px;
  padding: 1rem;
  padding-bottom: 0.5rem;
}
.dbbox {
  display: flex;
}
.dbboxleft {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
}
.dbicon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7ca003d;
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
}
.dbicon span {
  color: var(--orange);
}
.dbboxcount p {
  font-weight: 550;
  font-size: 1.2rem;
}
.dbboxname p {
  color: grey;
  font-size: 0.9rem;
}
.dbboxbottom {
  display: flex;
  justify-content: flex-end;
  border-top: 1px dotted rgb(230, 230, 230);
  margin-top: 0.6rem;
}
.dbboxbottom span {
  color: rgb(180, 180, 180);
}
.dbboxouter:hover {
  cursor: pointer;
}
.dbboxouter:hover .rightarrow {
  color: grey;
}

/* all users */

#alldatatable {
  overflow-x: auto;
  white-space: nowrap;
  font-size: 14px;
}
#alldatatable button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
#alldatatable button span {
  font-size: 17px;
}
#datasearchbar {
  width: 50%;
  margin-left: 50%;
}
#datasearchbar input::placeholder {
  font-size: 14px;
}
#datasearchbar button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
#datasearchbar span {
  font-size: 20px;
}
.orderhistoryitems {
  border-bottom: 1px solid rgb(201, 201, 201);
  margin-bottom: 0.5rem;
}
.orderhistoryitem {
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}
.orderhistoryitem p {
  white-space: normal;
}
.delivereddate {
  color: var(--blue);
  font-weight: 550;
}
#calendericon {
  display: none;
}
/* order status */
.editstatusbtn {
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
}
.tablecellwidth {
  white-space: normal;
  width: 9rem;
  word-break: break-word;
}
.tablecellwidth p {
  white-space: normal;
}

/* faq */
.faqitem {
  width: 80%;
  margin-bottom: 1.5rem;
  padding: 1rem;
}
.faq-prodname p {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: rgb(0, 0, 0);
}
.faq-questans label {
  font-weight: 550;
}
.faq-questans textarea::placeholder {
  font-size: 14px;
}
.faq-postans {
  display: flex;
  justify-content: flex-end;
}

/* all categories */
#allcategories {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.categoryitem {
  width: 23%;
  margin: 1%;
  box-shadow: 2px 2px 10px lightgrey;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
}
.categoryitem:hover .categoryname {
  color: var(--blue);
  cursor: pointer;
}
.categoryimg {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 1rem;
}
.categoryimg img {
  height: 3rem;
}
.categoryname {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryname p {
  white-space: normal;
  font-weight: 550;
}
.addcategorybtns {
  margin: 1.5rem;
  margin-left: 0rem;
}

/* category vise products and subcategories */

.productscategorytabcont {
  display: flex;
  flex-wrap: wrap;
}
.productscategorytabcont .procard {
  margin: 1%;
  margin-top: 1rem;
}
.productscategorytabcont .discount {
  width: 3.5rem;
}
.categorytabhead {
  font-size: 13px;
}
#tabcategory {
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
}
#tabcategory .nav-item {
  display: inline-block;
  margin-right: 0.7rem;
  margin-left: 0.3rem;
}
.categorytabhead {
  color: #151515;
  font-size: 13px;
}
#catvisetabs .nav {
  flex-wrap: nowrap;
}
#tabcategory .active {
  color: var(--blue);
  border: 1px solid var(--blue);
  font-weight: 600;
}
/* product card */
.productscategorytabcont .procard {
  margin: 1%;
  width: 18%;
  margin-top: 1rem;
}
.prod-img {
  text-align: center;
  background-image: url("bg.png");
  background-size: cover;
}
.prod-img img {
  height: 4.5rem;
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.productdetails {
  padding: 0.5rem;
  text-align: center;
}
.prodname {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 550;
  text-align: center;
  width: 100%;
  overflow: hidden;
  white-space: pre-wrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: black;
  text-decoration: underline white;
}
/* products price cut through */
.cutprice {
  font-size: 11px;
  margin-right: 4px;
  text-decoration: line-through;
}
.prodname:hover {
  color: var(--blue);
  cursor: pointer;
}
.productdetails img {
  height: 0.6rem;
}
.prodprice {
  font-size: 14px;
  font-weight: 550;
}

/* product actions */
.productactions {
  display: flex;
  justify-content: space-between;
}
.prodaction {
  width: 33.33%;
  padding: 6px;
  display: flex;
  justify-content: center;
  background-color: var(--grey);
}
.prodaction span {
  font-size: 19px;
}
.prodaction:hover {
  cursor: pointer;
}

/* add product */
.prodvariants {
  width: 50%;
}
.prodvariantvalues {
  display: flex;
  flex-direction: row;
}
.valuepriceip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.addmorevaluebtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addmorevaluebtn span {
  font-size: 20px;
}

/* Smartphones ----------- */
@media only screen and (min-device-width: 200px) and (max-device-width: 500px) {
  /* breadcrumbs */
  .breadcrumblinks {
    font-size: 13px;
    margin-bottom: 1.5rem;
  }
  /* dashboard */
  .dbboxouter {
    width: 48%;
    margin: 1%;
    padding: 0.5rem;
    padding-bottom: 0.3rem;
  }
  .dbboxcount p {
    font-size: 1rem;
  }
  .dbboxname p {
    font-size: 12px;
  }
  .dbboxleft {
    margin-right: 0.4rem;
  }
  .dbicon {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
  }
  .dbicon span {
    font-size: 18px;
  }
  .dbboxbottom span {
    font-size: 14px;
  }

  /* all users */
  #datasearchbar {
    width: 100%;
    margin-left: 0%;
  }

  #calendericon {
    display: inline-block;
    position: absolute;
    right: 1.7rem;
    margin-top: -1.6rem;
    font-size: 18px;
  }

  /* faq */
  .faqitem {
    width: 100%;
    padding: 0.4rem;
  }

  /* all categories */
  .categoryitem {
    width: 96%;
    margin: 2%;
  }

  /* products category vise */
  .productscategorytabcont .procard {
    margin: 2%;
    width: 46%;
    margin-top: 1rem;
  }

  /* add product */
  .prodvariants {
    width: 100%;
  }
}

/* iPads ----------- */
@media only screen and (min-device-width: 501px) and (max-device-width: 1024px) {
  /* dashboard */
  .dbboxouter {
    width: 48%;
    margin: 1%;
  }

  /* all users */
  #datasearchbar {
    width: 100%;
    margin-left: 0%;
  }

  /* faq */
  .faqitem {
    width: 100%;
  }

  /* all categories */
  .categoryitem {
    width: 46%;
    margin: 2%;
  }

  /* products category vise */
  .productscategorytabcont .procard {
    margin: 1.5%;
    width: 30%;
    margin-top: 1rem;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-device-width: 1025px) {
  #sidebarToggle {
    display: none;
  }
  #navbartogglerbtn {
    display: none;
  }

  /* all categories */
  .addcategorybtns {
    margin-bottom: -3.3rem;
  }
}
